@use "../bootstrap" as b;

.button {
    background: none;
    border: none;
    padding: 0;
    transition: all b.$trans ease;
}

.button--rect {
    padding: 0 58px;
    background-color: b.$buttonBgColor;
    border-radius: 64px;
    color: b.$lightTextColor;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    span {
        display: block;
        white-space: nowrap;
        transition: all b.$trans ease;
        padding: 18px 0;
        border-radius: 200px;

        @media (max-width: b.$mediaTablet) {
            padding: 14.5px 0;
        }

        @media (max-width: b.$mediaSmallMobile) {
            padding: 18px 0;
        }
    }

    @media (hover: hover) {
        &:hover {
            span {
                background-color: #ff8c46;
            }
        }
    }

    &:active,
    &:focus-visible {
        span {
            background-color: #ff8c46;
        }
    }

    @media (max-width: b.$mediaTablet) {
        padding: 0 31px;
        font-size: 14px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        padding: 0 31px;
        font-size: 12px;
    }
}

.button--circle {
    overflow: visible;
    width: 35px;
    height: 35px;
    font-size: 2px;
    background-color: b.$buttonDarkBgColor;
    border-radius: 50%;
    padding: 12px 10px;

    @media (max-width: b.$mediaTablet) {
        width: 30px;
        height: 30px;
        padding: 12px 9.5px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        padding: 10.5px 9.5px;
    }
}

.button--circWhite {
    padding: 20px;
    border-radius: 50%;
    border: 1px solid b.$buttonBgColor;

    @media (hover: hover) {
        &:hover {
            background-color: b.$buttonBgColor;

            svg {
                fill: b.$lightBgColor;
            }
        }
    }

    &:active,
    &:focus-visible {
        background-color: b.$buttonBgColor;

        svg {
            fill: b.$lightBgColor;
        }
    }

    @media (max-width: b.$mediaTablet) {
        padding: 17px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        padding: 20px;
    }

    svg {
        display: block;
        width: 20px;
        height: 20px;
        transition: all b.$trans ease;
        fill: b.$buttonBgColor;

        @media (max-width: b.$mediaTablet) {
            width: 16px;
            height: 16px;
        }

        @media (max-width: b.$mediaSmallMobile) {
            width: 20px;
            height: 20px;
        }
    }
}

.button__lines {
    position: relative;
    width: 15px;
    padding: 4px 0;
    display: block;

    @media (max-width: b.$mediaTablet) {
        width: 11px;
        padding: 3.5px 0;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 12px;
        padding: 4px 0;
    }
}

.button__line {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: b.$lightBgColor;
    border-radius: 2px;
    transition: all b.$trans ease;

    @media (max-width: b.$mediaTablet) {
        height: 1px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        height: 1px;
    }

    &::before,
    &::after {
        content: "";
        border-radius: 2px;
        height: 1.5px;
        width: 100%;
        background-color: b.$lightBgColor;
        transition: all b.$trans ease;

        @media (max-width: b.$mediaTablet) {
            height: 1px;
        }

        @media (max-width: b.$mediaSmallMobile) {
            height: 1px;
        }
    }

    &::before {
        @include b.position(absolute, -1, top, left, 0, 0);
    }

    &::after {
        @include b.position(absolute, -1, bottom, left, 0, 0);
    }
}
