@use "../bootstrap" as b;

.button {
    background: none;
    border: none;
    padding: 0;
}

.button--circle {
    position: relative;
    overflow: visible;
    width: 35px;
    height: 35px;

    &::before {
        content: "";
        background-color: b.$buttonDarkBgColor;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        @include b.position(absolute, -1, top, left, 50%, 50%);
        translate: -50% -50%;
    }
}

.button__line {
    display: inline-block;
    width: 100%;
    width: 14px;
    height: 1.5px;
    background-color: b.$lightBgColor;
    vertical-align: middle;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1.5px;
        background-color: b.$lightBgColor;
    }

    &::before {
        @include b.position(absolute, -1, top, left, 0, 0);
    }

    &::after {
        @include b.position(absolute, -1, bottom, left, 0, 0);
    }
}
