@use "../bootstrap" as b;

.logo {
    white-space: nowrap;
}

.logo__img {
    width: 19px;
    height: 28px;

    @media (max-width: b.$mediaTablet) {
        width: 14px;
        height: 21px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 13px;
        height: 19px;
    }
}

.logo__img-text {
    width: 75px;
    height: 26px;
    margin-left: 11.5px;
    vertical-align: baseline;

    @media (max-width: b.$mediaTablet) {
        width: 55px;
        height: 19px;
        margin-left: 9px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 50px;
        height: 17px;
        margin-left: 8px;
    }
}
