@use "../bootstrap" as b;

.dir {
    @include b.flex(flex-start, center);
    gap: 13px;
    white-space: nowrap;
}

.dir__button {
}

.dir__text {
    font-size: 16px;
    font-weight: 500;

    @media (max-width: b.$mediaTablet) {
        font-size: 14px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 16px;
    }
}
