@use "../bootstrap" as b;

.nav {
}
.nav-list {
    @include b.flex(flex-start, center);
    gap: 50px;
}
.nav-item {
    white-space: nowrap;
}

.nav-link {
    font-size: 16px;

    @media (max-width: b.$mediaTablet) {
        font-size: 14px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 16px;
    }
}
