// Text Colors
$mainTextColor: #343b4e;
$paleTextColor: rgba(52, 59, 78, 0.5);
$linkTextColor: #8b4ee7;
$lightTextColor: #ffffff;
$emphasTextColor: #ff7826;

// Background Colors
$lightBgColor: #ffffff;
$darkBgColor: #fbf8ff;
$buttonBgColor: #ff7826;
$buttonDarkBgColor: #8b4ee7;
$tagBgColor: #4db45e;

$heroBgColor: #f9c758;

// Fonts #343B4E #8B4EE7 #F9C758 #FF7826
$fontFamily: "Rubik", "Open Sans", sans-serif;
$fontSize: 18px;

//  Container
$containerPadding: 15px;
$containerWidth: 974px;
$bigContainerPadding: 50px;
$bigContainerWidth: 1820px;

//  Transitions
$trans: 0.3s;

// Paddings & Margins
$padding: 15px;
$margin: 15px;
$gap: 15px;

// Medias
$mediaPC: 1400px;
$mediaSmallPC: 1200px;
$mediaTablet: 1024px;
$mediaSmallTablet: 768px;
$mediaMobile: 576px;
$mediaSmallMobile: 375px;
