@use "../utils/fonts";
@use "../bootstrap" as b;

html {
    font-size: b.$fontSize;

    @media (max-width: b.$mediaTablet) {
        font-size: 16px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 14px;
    }
}

body {
    background-color: b.$lightBgColor;
    font-family: b.$fontFamily;
    color: b.$mainTextColor;
}

.body__fixed {
    overflow: hidden;
}

.container {
    max-width: b.$containerWidth;
    padding: 0 b.$containerPadding;
    margin: 0 auto;
}

.display--none {
    display: none;
}

h1 {
    font-size: 60px;

    @media (max-width: b.$mediaTablet) {
        font-size: 40px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 30px;
    }
}

h2 {
    font-size: 50px;

    @media (max-width: b.$mediaTablet) {
        font-size: 40px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 30px;
    }
}

h3 {
    font-size: 20px;

    @media (max-width: b.$mediaTablet) {
        font-size: 18px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 16px;
    }
}

h4 {
    font-size: 18px;

    @media (max-width: b.$mediaTablet) {
        font-size: 16px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 14px;
    }
}

h5 {
    font-size: 16px;

    @media (max-width: b.$mediaTablet) {
        font-size: 14px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 12px;
    }
}
