@use "../utils/fonts";
@use "../bootstrap";

html {
    font-size: vars.$basicFontSize;
}

body {
    background-color: vars.$lightBgColor;
    font-family: vars.$mainFontFamily;
    color: vars.$mainTextColor;
}

.body__fixed {
    overflow: hidden;
}

.container {
    max-width: vars.$containerWidth;
    padding: 0 vars.$containerPadding;
    margin: 0 auto;
}

.display--none {
    display: none;
}
