@use "../utils/fonts";
@use "../bootstrap" as b;

html {
    font-size: b.$basicFontSize;
}

body {
    background-color: b.$lightBgColor;
    font-family: b.$fontSize;
    color: b.$mainTextColor;
}

.body__fixed {
    overflow: hidden;
}

.container {
    max-width: b.$containerWidth;
    padding: 0 b.$containerPadding;
    margin: 0 auto;
}

.display--none {
    display: none;
}
