@use "../bootstrap" as b;
@use "../ui/buttons";

.hero {
    padding-top: 98px;
    padding-bottom: 80px;
    width: 100vw;
    min-height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: b.$mediaTablet) {
        padding-bottom: 40px;
    }
}

.container {
}

.hero__container {
    @include b.flex(space-between, center);
    max-width: 1536px;
    gap: clamp(180px, 15vw, 350px);

    @media (max-width: b.$mediaTablet) {
        gap: clamp(70px, 15vw, 120px);
    }

    @media (max-width: b.$mediaSmallTablet) {
        flex-direction: column;
        gap: 100px;
    }
}

.hero__info {
    flex-basis: 600px;

    @media (max-width: b.$mediaTablet) {
        flex-basis: 400px;
    }

    @media (max-width: b.$mediaSmallTablet) {
        flex-basis: unset;
    }
}

.hero__title {
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: 400;

    @media (max-width: b.$mediaTablet) {
        font-size: 40px;
        margin-bottom: 20px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

.hero__descr {
    max-width: 410px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;

    @media (max-width: b.$mediaTablet) {
        font-size: 18px;
        max-width: 370px;
        margin-bottom: 30px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 33px;
    }
}

.hero__buttons {
    @include b.flex(flex-start, center);
    gap: 20px;
}

.hero__image-wrapper {
    position: relative;
    flex-basis: 600px;
    max-width: 600px;
    height: 600px;
    flex-shrink: 0;

    @media (max-width: b.$mediaTablet) {
        flex-basis: 285px;
        height: 285px;
    }

    @media (max-width: b.$mediaSmallTablet) {
        flex-basis: unset;
    }

    @media (max-width: b.$mediaSmallMobile) {
        max-width: 251px;
        height: 251px;
    }

    &::before {
        content: "";
        @include b.position(absolute, -1);
        background-color: b.$heroBgColor;
        width: 100%;
        height: 100%;
    }
}

.hero__image {
    @include b.position(absolute, -1, bottom, left, 0, 50%);
    translate: -50% 0;
    object-fit: contain;
    width: 567px;
    height: 456px;

    @media (max-width: b.$mediaTablet) {
        width: 270px;
        height: 218px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 83%;
        height: 210px;
    }
}

.hero__image-bg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__style-text {
    font-size: 13px;
    @include b.position(absolute, -1, top, left, 15%, -100px);
    translate: 0;
    padding: 20px 44px;
    border: 1px solid rgba(52, 59, 78, 0.15);
    border-radius: 100px;
    background-color: b.$lightBgColor;
    z-index: 2;
    line-height: 1.3;
    text-align: center;

    @media (max-width: b.$mediaTablet) {
        left: -23%;
        font-size: 9px;
        padding: 10px 22px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        top: 0;
        left: -25%;
        padding: 13px 20px;
    }
}

.text-emph {
    color: #f97228;
}

.hero__style-text-star {
    @include b.position(absolute, -1, top, left, 0, 0);
    translate: -100% -100%;
    width: 20px;
    height: 20px;

    @media (max-width: b.$mediaTablet) {
        width: 9px;
        height: 9px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 8px;
        height: 8px;
    }
}

.hero__style-text-arrow {
    @include b.position(absolute, -1, bottom, left, -15px, 20px);
    width: 65px;
    height: 80px;
    transform: translate(10%, 100%) rotateZ(138deg);

    @media (max-width: b.$mediaTablet) {
        transform: translate(25%, 75%) rotateZ(138deg);
        width: 28px;
        height: 39px;
    }
}

.hero__stars {
    @include b.position(absolute, -1, top, right, 0, 0);
    width: 124px;
    height: 120px;
    z-index: 2;
    translate: 50% 0;
    background: url("../../img/hero/stars-bg.png") center / 100% 100% no-repeat;

    @media (max-width: b.$mediaTablet) {
        width: 59px;
        height: 57px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 52px;
        height: 50px;
    }
}

.hero__stars-wrapper {
    @include b.position(absolute, -1, top, left, 50%, 50%);
    translate: -50% -50%;
}

.hero__star-number {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    vertical-align: middle;

    @media (max-width: b.$mediaTablet) {
        font-size: 12px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        font-size: 9px;
    }
}

.hero__star {
    width: 13px;
    height: 12px;
    vertical-align: middle;

    @media (max-width: b.$mediaTablet) {
        width: 6px;
        height: 5px;
        margin-right: -3px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 5px;
        height: 4.5px;
        margin-right: -2px;
    }
}

.hero__adjusting {
    @include b.position(absolute, -1, bottom, left, 0, 0);
    background: url("../../img/hero/adjusting-bg.png") center / 100% 100%
        no-repeat;
    width: 170px;
    height: 170px;
    translate: -50% 50%;
    z-index: 2;

    @media (max-width: b.$mediaTablet) {
        width: 80px;
        height: 80px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 70px;
        height: 70px;
    }
}

.hero__adjusting-img {
    @include b.position(absolute, -1, top, left, 50%, 50%);
    translate: -50% -50%;
    width: 35%;
    height: 35%;
}

.hero__fast-delivery {
    @include b.position(absolute, -1, bottom, right, 0, 0);
    background: url("../../img/hero/delivery-bg.png") center / 100% 100%
        no-repeat;
    width: 190px;
    height: 190px;
    translate: 50% 50%;
    z-index: 2;

    @media (max-width: b.$mediaTablet) {
        width: 90px;
        height: 90px;
    }

    @media (max-width: b.$mediaSmallMobile) {
        width: 79px;
        height: 79px;
    }
}

.hero__fast-delivery-img {
    @include b.position(absolute, -1, top, left, 50%, 50%);
    translate: -50% -50%;
    width: 39%;
    height: 39%;
}
