@use "../bootstrap" as b;
@use "../ui/buttons";

.hero {
    padding-top: 98px;
}

.container {
}

.hero__container {
    @include b.flex(space-between, center);
    max-width: 1536px;
    gap: clamp(180px, 15vw, 350px);
}

.hero__info {
}

.hero__title {
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.hero__descr {
    max-width: 410px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;
}

.hero__buttons {
    @include b.flex(flex-start, center);
    gap: 20px;
}

.hero__image-wrapper {
    position: relative;
    flex-basis: 600px;
    min-width: 600px;
    height: 600px;

    &::before {
        content: "";
        @include b.position(absolute, -1);
        background-color: b.$heroBgColor;
        width: 100%;
        height: 100%;
    }
}

.hero__image {
    @include b.position(absolute, -1, bottom, left, 0, 50%);
    translate: -50% 0;
    object-fit: contain;
    width: 567px;
    height: 456px;
}

.hero__image-bg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__style-text {
    font-size: 13px;
    @include b.position(absolute, -1, top, left, 15%, -100px);
    translate: 0;
    padding: 20px 44px;
    border: 1px solid rgba(52, 59, 78, 0.15);
    border-radius: 100px;
    background-color: b.$lightBgColor;
    z-index: 2;
    text-align: center;
}

.text-emph {
    color: #f97228;
}

.hero__style-text-star {
    @include b.position(absolute, -1, top, left, 0, 0);
    translate: -100% -100%;
    width: 20px;
    height: 20px;
}

.hero__style-text-arrow {
    @include b.position(absolute, -1, bottom, left, -15px, 20px);
    width: 65px;
    height: 80px;
    transform: translate(10%, 100%) rotateZ(138deg);
}

.hero__stars {
    @include b.position(absolute, -1, top, right, 0, 0);
    width: 124px;
    height: 120px;
    z-index: 2;
    translate: 50% 0;
    background: url("../../img/hero/stars-bg.png") center / 100% 100% no-repeat;
}

.hero__stars-wrapper {
    @include b.position(absolute, -1, top, left, 50%, 50%);
    translate: -50% -50%;
}

.hero__star-number {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    vertical-align: middle;
}

.hero__star {
    width: 13px;
    height: 12px;
}

.hero__adjusting {
    @include b.position(absolute, -1, bottom, left, 0, 0);
    background: url("../../img/hero/adjusting-bg.png") center / 100% 100%
        no-repeat;
    width: 170px;
    height: 170px;
    translate: -50% 50%;
    z-index: 2;
}

.hero__adjusting-img {
    @include b.position(absolute, -1, top, left, 50%, 50%);
    translate: -50% -50%;
    width: 35%;
    height: 35%;
}

.hero__fast-delivery {
    @include b.position(absolute, -1, bottom, right, 0, 0);
    background: url("../../img/hero/delivery-bg.png") center / 100% 100%
        no-repeat;
    width: 190px;
    height: 190px;
    translate: 50% 50%;
    z-index: 2;
}

.hero__fast-delivery-img {
    @include b.position(absolute, -1, top, left, 50%, 50%);
    translate: -50% -50%;
    width: 39%;
    height: 39%;
}
